<section class="article">
  <div class="article__header">
    <div class="article__header-left">
      <img src="img/article-1.jpg" class="article__img" alt="Фотография котика" width="45" height="45">
      <div class="article__titl-btn-desc">
        <div class="article__title-btn">
          <h3 class="article__title">Твой котик</h3>
          <button class="article__btn btn btn-reset btn--blue">Подписаться</button>
        </div>
        <p class="article__descr text-descr">Подпишитесь на&nbsp;любимых блогеров, не&nbsp;пропустите последниие события
        </p>
      </div>
    </div>
    <p class="article__data">Вчера</p>
  </div>
  <div class="article__wrap-video">
    <picture>
      <source srcset="img/article-video-bg.avif" type="image/avif">
      <source srcset="img/article-video-bg.webp" type="image/webp">
      <img src="img/article-video-bg.png" class="article__video" width="685" height="361" alt="Заставка к видео о тесте новой мисочке.">
    </picture>
    <button class="article__play-btn btn-reset" type="button" data-fancybox data-src="https://www.youtube.com/embed/PNAkkSvm04s"></button>
    <div class="article__time">02:08</div>
  </div>
  <p class="article__video-descr text-descr">Тестирую новую мисочку
    для корма, которую мне купили онлайн без регистрации</p>
  <div class="article__comment comment">
    <div class="comment__wrap-comment">
      <div class="comment__wrap-img">
        <img src="img/comment-1.jpg" class="comment__img" alt="Фотография Евгений Курчанов" width="30" height="30">
        <img src="img/comment-2.jpg" class="comment__img" alt="Фотография Василиса Курчанова" width="30" height="30">
        <img src="img/comment-3.jpg" class="comment__img" alt="Фотография Евгений Полов" width="30" height="30">
      </div>
      <span class="comment__count">399</span>
      <p class="comment__comment">комментариев</p>
    </div>
    <ul class="comment__list list-reset">
      <li class="comment__item">
        <button class="comment__btn comment__btn--share btn btn-reset">Share</button>
      </li>
      <li class="comment__item">
        <p class="comment__btn comment__btn--like btn btn-reset">Like</p>
      </li>
      <li class="comment__item">
        <p class="comment__btn comment__btn--dislike btn btn-reset">Dislike</p>
      </li>
    </ul>
  </div>
</section>
