<section class="news culture">
  <div class="news__title-btn">
    <h2 class="news__title">Культурология и&nbsp;история</h2>
    <button class="news__btn btn btn-reset btn--blue">Показать&nbsp;все</button>
  </div>
  <p class="news__descr text-descr">Образованный собеседник&nbsp;&mdash; вдвойне приятно</p>
  <ul class="news__list list-reset">
    <li class="news__item">
      <picture>
        <source srcset="img/culture-1.avif" type="image/avif">
        <source srcset="img/culture-1.webp" type="image/webp">
        <img loading="lazy" src="img/culture-1.png" class="news__img img-label-small" width="60" height="60" alt="Фотография История и истории">
      </picture>
      <div class="news__item-title-descr">
        <h3 class="news__item-title">История и истории</h3>
        <p class="news__descr-sec text-descr-small">Авторский канал Алексея Денисенкова об&nbsp;истории</p>
      </div>
    </li>
    <li class="news__item">
      <picture>
        <source srcset="img/culture-2.avif" type="image/avif">
        <source srcset="img/culture-2.webp" type="image/webp">
        <img loading="lazy" src="img/culture-2.png" class="news__img img-label-small" width="60" height="60" alt="Фоторафия Рыжий рыцарь">
      </picture>
      <div class="news__item-title-descr">
        <h3 class="news__item-title">Рыжий рыцарь</h3>
        <p class="news__descr-sec text-descr-small">Очередной канал по&nbsp;истории, античности и&nbsp;средневековья</p>
      </div>
    </li>
    <li class="news__item">
      <picture>
        <source srcset="img/culture-3.avif" type="image/avif">
        <source srcset="img/culture-3.webp" type="image/webp">
        <img loading="lazy" src="img/culture-3.png" class="news__img img-label-small" width="60" height="60" alt="Фотография diletant.mediа">
      </picture>
      <div class="news__item-title-descr">
        <h3 class="news__item-title">diletant.mediа</h3>
        <p class="news__descr-sec text-descr-small">Для тех, кто любит историю и&nbsp;хочет знать о&nbsp;ней как можно больше</p>
      </div>
    </li>
    <li class="news__item">
      <picture>
        <source srcset="img/culture-4.avif" type="image/avif">
        <source srcset="img/culture-4.webp" type="image/webp">
        <img loading="lazy" src="img/culture-4.png" class="news__img img-label-small" width="60" height="60" alt="Фотография Цитадель адеквата">
      </picture>
      <div class="news__item-title-descr">
        <h3 class="news__item-title">Цитадель адеквата</h3>
        <p class="news__descr-sec text-descr-small">Публикации на&nbsp;научно-популярную тематику</p>
      </div>
    </li>
  </ul>
</section>
