<footer class="footer">
  <div class="container">
    <div class="footer__wrap-up">
      <img loading="lazy" src="img/logo-vertical.svg" class="footer__logo" width="121" height="53"
        alt="Информационное Агентство Millions Media">
      <nav class="footer__nav nav" title="Меню в футоре">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link text-descr">Размещение материала</a></li>
          <li class="nav__item"><a href="#" class="nav__link text-descr">Рекламные интеграции</a></li>
          <li class="nav__item"><a href="#" class="nav__link text-descr">Контактные данные</a></li>
          <li class="nav__item"><a href="#" class="nav__link text-descr">Спец. предложение</a></li>
        </ul>
      </nav>
      <div class="footer__subscribe subscribe">
        <div class="subscribe__title text-descr">Оставайтесь в&nbsp;курсе событий!</div>
        <form action="#" class="subscribe__form">
          <div class="subscribe__wrap-input-btn">
            <label class="subscribe__label">
              <input type="text" name="Имя" class="input-reset subscribe__input text-descr text-descr-small" placeholder="Электронная почта">
            </label>
            <button class="subscribe__btn btn btn-reset btn--red">Подписаться</button>
          </div>
        </form>
      </div>
    </div>
    <div class="footer__wrap-down">
      <p class="footer__copyrite text-descr-small">&copy; Media Millions, 2022. Все права защищены.</p>
      <a href="#" class="footer__politic text-descr-small">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
