<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo-category">
        <a class="header__link">
          <img src="img/logo-horizontal.svg" alt="Информационное агентство Millions Media" class="header__logo"
            width="240" height="25">
        </a>
        <a href="#"  class="header__category-link">Бизнес</a>
      </div>
      <form action="#" class="header__search search">
        <input class="search__input" type="text" placeholder="Статьи, видео, каналы, интересы">
        <button class="search__btn btn-reset" type="submit"></button>
      </form>
      <button class="header__btn btn btn-reset btn--red">Подписаться</button>
    </div>
  </div>
</header>
