<section class="jun">
  <ul class="jun__list-big-news big-news list-reset">
    <li class="big-news__item">
      <picture>
        <source srcset="img/junior-1.avif" type="image/avif">
        <source srcset="img/junior-1.webp" type="image/webp">
        <img loading="lazy" src="img/junior-1.jpg" class="big-news__img" width="367" height="227" alt="Конфликт в&nbsp;Украине Как пережить?">
      </picture>
      <div class="">
        <img loading="lazy" src="img/hart.svg" class="big-news__icon" width="62" height="64" alt="Иконка Сердце">
        <div class="">
          <p class="big-news__title">Конфликт в&nbsp;Украине Как пережить?</p>
          <p class=""></p>
        </div>
      </div>
    </li>
    <li class="big-news__item ">
      <picture>
        <source srcset="img/junior-2.avif" type="image/avif">
        <source srcset="img/junior-2.webp" type="image/webp">
        <img loading="lazy" src="img/junior-2.jpg" class="big-news__img" width="367" height="227" alt="О чем будет новый Бэтмен?">
      </picture>
      <div class="big-news__wrap-img-title">
        <img loading="lazy" src="img/jun-title.svg" class="big-news__icon big-news__icon--bottom" width="44" height="46"
          alt="Иконка Сердце">
        <div class="big-news__wrap-title-descr">
          <p class="big-news__title big-news__title--bottom">О&nbsp;чем будет новый Бэтмен?</p>
          <p class="big-news__descr">Кинопоиск</p>
        </div>
      </div>
    </li>
  </ul>

  <div class="jun__juniors juniors">
    <h2 class="juniors__title">Новички, все сюда!</h2>
    <p class="juniors__title-descr text-descr">Еженедельный дайджест новых блогеров</p>
    <ul class="juniors__list list-reset">
      <li class="juniors__item">
        <picture>
          <source srcset="img/jun-1.avif" type="image/avif">
          <source srcset="img/jun-1.webp" type="image/webp">
          <img loading="lazy" src="img/jun-1.png" class="juniors__item-img" width="87" height="87" alt="Фотография Евгений Курчанов">
        </picture>
        <h3 class="juniors__item-title">Сергей Рязанский</h3>
        <p class="juniors__item-descr text-descr-small">Ответы на&nbsp;вопросы о&nbsp;буднях космонавта</p>
        <button class="juniors__item-btn btn btn-reset btn--blue">Подписаться</button>
      </li>
      <li class="juniors__item">
        <picture>
          <source srcset="img/jun-2.avif" type="image/avif">
          <source srcset="img/jun-2.webp" type="image/webp">
          <img loading="lazy" src="img/jun-2.png" class="juniors__item-img" width="87" height="87" alt="Фотография Анастасия Ивлеева">
        </picture>
        <h3 class="juniors__item-title">Анастасия Ивлеева</h3>
        <p class="juniors__item-descr text-descr-small">Звезда влогов и&nbsp;телешоу теперь с&nbsp;нами!</p>
        <button class="juniors__item-btn btn btn-reset btn--blue">Подписаться</button>
      </li>
      <li class="juniors__item">
        <picture>
          <source srcset="img/jun-3.avif" type="image/avif">
          <source srcset="img/jun-3.webp" type="image/webp">
          <img loading="lazy" src="img/jun-3.png" class="juniors__item-img" width="87" height="87" alt="Фотография BORODA NAILS">
        </picture>
        <h3 class="juniors__item-title">BORODA NAILS</h3>
        <p class="juniors__item-descr text-descr-small">Мужчина&nbsp;&mdash; мастер маникюра о&nbsp;своей работе</p>
        <button class="juniors__item-btn btn btn-reset btn--blue">Подписаться</button>
      </li>
      <li class="juniors__item">
        <picture>
          <source srcset="img/jun-4.avif" type="image/avif">
          <source srcset="img/jun-4.webp" type="image/webp">
          <img loading="lazy" src="img/jun-4.png" class="juniors__item-img" width="87" height="87" alt="Фотография Денис Дорохов">
        </picture>
        <h3 class="juniors__item-title">Денис Дорохов</h3>
        <p class="juniors__item-descr text-descr-small">Закулисье жизни телеведущего и&nbsp;КВН-щика</p>
        <button class="juniors__item-btn btn btn-reset btn--blue">Подписаться</button>
      </li>
    </ul>
  </div>
</section>
