<section class="news news-block">
  <div class="news__title-btn">
    <h2 class="news__title">Новости</h2>
    <button class="news__btn btn btn-reset btn--blue">Показать&nbsp;все</button>
  </div>
  <p class="news__descr text-descr">Независиммые СМИ на&nbsp;месте! Читайте и&nbsp;подписывайтесь</p>
  <ul class="news__list list-reset">
    <li class="news__item">
      <picture>
        <source srcset="img/news-1.avif" type="image/avif">
        <source srcset="img/news-1.webp" type="image/webp">
        <img loading="lazy" src="img/news-1.png" class="news__img img-label-small" width="60" height="60" alt="Фотография MEDUZA">
      </picture>
      <div class="news__item-title-descr">
        <h3 class="news__item-title">MEDUZA</h3>
        <p class="news__descr-sec text-descr-small">Как читать Медузу в&nbsp;РФ? Объясняем как все работает</p>
      </div>
    </li>
    <li class="news__item">
      <picture>
        <source srcset="img/news-2.avif" type="image/avif">
        <source srcset="img/news-2.webp" type="image/webp">
        <img loading="lazy" src="img/news-2.png" class="news__img img-label-small" width="60" height="60" alt="Фоторафия Аргументы и факты">
      </picture>
      <div class="news__item-title-descr">
        <h3 class="news__item-title">Аргументы и факты</h3>
        <p class="news__descr-sec text-descr-small">Новости, статьи, истории, интервью, инфографики</p>
      </div>
    </li>
    <li class="news__item">
      <picture>
        <source srcset="img/news-3.avif" type="image/avif">
        <source srcset="img/news-3.webp" type="image/webp">
        <img loading="lazy" src="img/news-3.png" class="news__img img-label-small" width="60" height="60" alt="Фотография Holod Media">
      </picture>
      <div class="news__item-title-descr">
        <h3 class="news__item-title">Holod Media</h3>
        <p class="news__descr-sec text-descr-small">А&nbsp;что происходит в&nbsp;Росии? Это к&nbsp;нам, читайте и&nbsp;анализируйтк</p>
      </div>
    </li>
    <li class="news__item">
      <picture>
        <source srcset="img/news-4.avif" type="image/avif">
        <source srcset="img/news-4.webp" type="image/webp">
        <img loading="lazy" src="img/news-4.png" class="news__img img-label-small" width="60" height="60" alt="Фотография The BELL">
      </picture>
      <div class="news__item-title-descr">
        <h3 class="news__item-title">The BELL</h3>
        <p class="news__descr-sec text-descr-small">Самые важные новости бизнеса и&nbsp;экономики&nbsp;&mdash; здесь</p>
      </div>
    </li>
  </ul>
</section>
